body {
  --text: #329734;
  --background: #071007;
  --primary-color: #9bd59d;
  --secondary-color: #2f7052;
  --accent: #62bd9e;

  font-family: 'Courier New', Courier, monospace;
  color: var(--text);
  background-color: var(--background);
}

/* 
*/

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.battleship-board {
  background-color: var(--accent);
  border: solid var(--accent) 1px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  height: 400px;
  width: 400px;
}

.battleship-board > div {
  --ship-color: var(--primary-color);
  --ship-hit-color: var(--secondary-color);
  --miss-color: var(--accent);

  width: 100%;
  height: 100%;
  background-color: var(--background);
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;


  &.ship {
    background-image: linear-gradient(var(--ship-color), var(--ship-color));
  }
  &.ship.shot {
    background-image: linear-gradient(var(--ship-hit-color), var(--ship-hit-color));
  }
  &.shot {
    background-image: linear-gradient(var(--miss-color), var(--miss-color));
  }

  /* Shaping the background image to make for a nice snake-style boat */
  &.horizontal-bridge {
    background-size: 100% 75%;
  }
  &.vertical-bridge {
    background-size: 75% 100%;
  }
  &.top-end {
    background-size: 75% 85%;
    background-position-y: bottom;
  }
  &.bottom-end {
    background-size: 75% 85%;
    background-position-y: top;
  }
  &.right-end {
    background-size: 85% 75%;
    background-position-x: left;
  }
  &.left-end {
    background-size: 85% 75%;
    background-position-x: right;
  }
}

.battleship-board.can-receive-attack > div.ship:not(.shot) {
  background-image: linear-gradient(transparent, transparent);
}
.battleship-board.can-receive-attack > div.ship.shot {
  background-size: 80% 80%;
  background-position: center center;
}